# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
.venv/
backend/.venv/

# VS Code
.vscode/

# Logs
*.log

# Variables d'environnement
.env
.env.test

# Tests / Coverage
.coverage
.pytest_cache/
htmlcov/

# Ruff
.ruff_cache/