# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Black
.cache/

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
*.sqlite3

# Logs
*.log
