--
-- PostgreSQL database dump
--

\restrict eaR8FQwkrj49wL5e0ywoABZycYrXok4eCUkWC58OfPr2qipZVz4gI8f5fZ1LBgf

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: growthstage; Type: TYPE; Schema: public; Owner: baca_user
--

CREATE TYPE public.growthstage AS ENUM (
    'GERMINATION',
    'VEGETATIVE',
    'FLOWERING',
    'FRUITING',
    'MATURITY',
    'HARVEST'
);


ALTER TYPE public.growthstage OWNER TO baca_user;

--
-- Name: user_roles; Type: TYPE; Schema: public; Owner: baca_user
--

CREATE TYPE public.user_roles AS ENUM (
    'admin',
    'advisor',
    'farmer'
);


ALTER TYPE public.user_roles OWNER TO baca_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO baca_user;

--
-- Name: crop_knowledge; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.crop_knowledge (
    id integer NOT NULL,
    common_name character varying(100) NOT NULL,
    scientific_name character varying(150) NOT NULL,
    family character varying(100) NOT NULL,
    description text NOT NULL,
    optimal_ph_min double precision NOT NULL,
    optimal_ph_max double precision NOT NULL,
    min_temperature double precision NOT NULL,
    max_temperature double precision NOT NULL,
    water_requirement character varying(50) NOT NULL,
    growth_duration_days integer NOT NULL,
    source character varying(100) NOT NULL
);


ALTER TABLE public.crop_knowledge OWNER TO baca_user;

--
-- Name: crop_knowledge_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.crop_knowledge_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crop_knowledge_id_seq OWNER TO baca_user;

--
-- Name: crop_knowledge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.crop_knowledge_id_seq OWNED BY public.crop_knowledge.id;


--
-- Name: crops; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.crops (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    variety character varying(150) NOT NULL,
    planting_date date NOT NULL,
    expected_harvest_date date NOT NULL,
    status character varying(50) NOT NULL,
    season character varying(50) NOT NULL,
    notes character varying(500),
    field_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    growth_stage public.growthstage DEFAULT 'VEGETATIVE'::public.growthstage NOT NULL
);


ALTER TABLE public.crops OWNER TO baca_user;

--
-- Name: crops_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.crops_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crops_id_seq OWNER TO baca_user;

--
-- Name: crops_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.crops_id_seq OWNED BY public.crops.id;


--
-- Name: farms; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.farms (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    location character varying(255) NOT NULL,
    owner_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.farms OWNER TO baca_user;

--
-- Name: farms_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.farms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.farms_id_seq OWNER TO baca_user;

--
-- Name: farms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.farms_id_seq OWNED BY public.farms.id;


--
-- Name: fields; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.fields (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    area_hectares double precision NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    soil_type character varying(100) NOT NULL,
    farm_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.fields OWNER TO baca_user;

--
-- Name: fields_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.fields_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fields_id_seq OWNER TO baca_user;

--
-- Name: fields_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.fields_id_seq OWNED BY public.fields.id;


--
-- Name: soil_analyses; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.soil_analyses (
    id integer NOT NULL,
    analysis_date date NOT NULL,
    ph double precision NOT NULL,
    nitrogen double precision NOT NULL,
    phosphorus double precision NOT NULL,
    potassium double precision NOT NULL,
    organic_matter double precision NOT NULL,
    moisture double precision NOT NULL,
    laboratory character varying(150) NOT NULL,
    recommendations character varying(1000),
    field_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.soil_analyses OWNER TO baca_user;

--
-- Name: soil_analyses_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.soil_analyses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.soil_analyses_id_seq OWNER TO baca_user;

--
-- Name: soil_analyses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.soil_analyses_id_seq OWNED BY public.soil_analyses.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_superuser boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    role public.user_roles NOT NULL
);


ALTER TABLE public.users OWNER TO baca_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO baca_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: weather; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.weather (
    id integer NOT NULL,
    forecast_date date NOT NULL,
    temperature_min double precision NOT NULL,
    temperature_max double precision NOT NULL,
    humidity double precision NOT NULL,
    rainfall double precision NOT NULL,
    wind_speed double precision NOT NULL,
    weather_condition character varying(100) NOT NULL,
    field_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    source character varying(100) NOT NULL
);


ALTER TABLE public.weather OWNER TO baca_user;

--
-- Name: weather_backup; Type: TABLE; Schema: public; Owner: baca_user
--

CREATE TABLE public.weather_backup (
    id integer,
    forecast_date date,
    temperature_min double precision,
    temperature_max double precision,
    humidity double precision,
    rainfall double precision,
    wind_speed double precision,
    weather_condition character varying(100),
    field_id integer,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    source character varying(100)
);


ALTER TABLE public.weather_backup OWNER TO baca_user;

--
-- Name: weather_id_seq; Type: SEQUENCE; Schema: public; Owner: baca_user
--

CREATE SEQUENCE public.weather_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.weather_id_seq OWNER TO baca_user;

--
-- Name: weather_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: baca_user
--

ALTER SEQUENCE public.weather_id_seq OWNED BY public.weather.id;


--
-- Name: crop_knowledge id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.crop_knowledge ALTER COLUMN id SET DEFAULT nextval('public.crop_knowledge_id_seq'::regclass);


--
-- Name: crops id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.crops ALTER COLUMN id SET DEFAULT nextval('public.crops_id_seq'::regclass);


--
-- Name: farms id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.farms ALTER COLUMN id SET DEFAULT nextval('public.farms_id_seq'::regclass);


--
-- Name: fields id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.fields ALTER COLUMN id SET DEFAULT nextval('public.fields_id_seq'::regclass);


--
-- Name: soil_analyses id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.soil_analyses ALTER COLUMN id SET DEFAULT nextval('public.soil_analyses_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: weather id; Type: DEFAULT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.weather ALTER COLUMN id SET DEFAULT nextval('public.weather_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: baca_user
--

COPY public.alembic_version (version_num) FROM stdin;
46d13d12ac62
\.


--
-- Data for Name: crop_knowledge; Type: TABLE DATA; Schema: public; Owner: baca_user
--

COPY public.crop_knowledge (id, common_name, scientific_name, family, description, optimal_ph_min, optimal_ph_max, min_temperature, max_temperature, water_requirement, growth_duration_days, source) FROM stdin;
\.


--
-- Data for Name: crops; Type: TABLE DATA; Schema: public; Owner: baca_user
--



--
-- Data for Name: farms; Type: TABLE DATA; Schema: public; Owner: baca_user
--

COPY public.farms (id, name, location, owner_id, created_at) FROM stdin;
2	Ferme Oran	Oran	2	2026-07-24 23:54:53.084954+00
3	Ferme Oran	Oran	1	2026-07-24 23:57:14.226529+00
1	Ferme Zeralda Nord	Zeralda Centre	1	2026-07-24 23:26:37.801317+00
\.


--
-- Data for Name: fields; Type: TABLE DATA; Schema: public; Owner: baca_user
--

COPY public.fields (id, name, area_hectares, latitude, longitude, soil_type, farm_id, created_at, updated_at) FROM stdin;
2	Parcelle Nord	12.5	36.7101	2.8412	Argileux	1	2026-07-25 20:04:27.751778+00	2026-07-25 20:04:27.751778+00
\.


--
-- Data for Name: soil_analyses; Type: TABLE DATA; Schema: public; Owner: baca_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: baca_user
--

COPY public.users (id, first_name, last_name, email, password_hash, is_active, is_superuser, created_at, updated_at, role) FROM stdin;
2	Ali	Benali	ali@example.com	$argon2id$v=19$m=65536,t=3,p=4$paJatvxzxJQJdXlzQ0Ok4g$gWv9bYbeoYcVWTJtKTtAl9QSGNON9MfnyOpZgA7khpI	t	f	2026-07-24 20:35:57.360249+00	2026-07-24 20:35:57.360249+00	farmer
1	Ahmed	Benali	ahmed@example.com	$argon2id$v=19$m=65536,t=3,p=4$cUEZHwBoVPy3RpSmXuphwA$S1mAie57NAx7R/87JPTCp1nK6SXY/3Xk1rpq+OEhUOM	t	f	2026-07-23 23:55:35.894188+00	2026-07-23 23:55:35.894188+00	admin
\.


--
-- Data for Name: weather; Type: TABLE DATA; Schema: public; Owner: baca_user
--

COPY public.weather (id, forecast_date, temperature_min, temperature_max, humidity, rainfall, wind_speed, weather_condition, field_id, created_at, updated_at, source) FROM stdin;
\.


--
-- Data for Name: weather_backup; Type: TABLE DATA; Schema: public; Owner: baca_user
--



--
-- Name: crop_knowledge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.crop_knowledge_id_seq', 1, false);


--
-- Name: crops_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.crops_id_seq', 90, true);


--
-- Name: farms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.farms_id_seq', 3, true);


--
-- Name: fields_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.fields_id_seq', 2, true);


--
-- Name: soil_analyses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.soil_analyses_id_seq', 93, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: weather_id_seq; Type: SEQUENCE SET; Schema: public; Owner: baca_user
--

SELECT pg_catalog.setval('public.weather_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: crop_knowledge crop_knowledge_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.crop_knowledge
    ADD CONSTRAINT crop_knowledge_pkey PRIMARY KEY (id);


--
-- Name: crops crops_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.crops
    ADD CONSTRAINT crops_pkey PRIMARY KEY (id);


--
-- Name: farms farms_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.farms
    ADD CONSTRAINT farms_pkey PRIMARY KEY (id);


--
-- Name: fields fields_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.fields
    ADD CONSTRAINT fields_pkey PRIMARY KEY (id);


--
-- Name: soil_analyses soil_analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.soil_analyses
    ADD CONSTRAINT soil_analyses_pkey PRIMARY KEY (id);


--
-- Name: weather uq_weather_field_date; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.weather
    ADD CONSTRAINT uq_weather_field_date UNIQUE (field_id, forecast_date);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: weather weather_pkey; Type: CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.weather
    ADD CONSTRAINT weather_pkey PRIMARY KEY (id);


--
-- Name: ix_crop_knowledge_common_name; Type: INDEX; Schema: public; Owner: baca_user
--

CREATE UNIQUE INDEX ix_crop_knowledge_common_name ON public.crop_knowledge USING btree (common_name);


--
-- Name: ix_fields_farm_id; Type: INDEX; Schema: public; Owner: baca_user
--

CREATE INDEX ix_fields_farm_id ON public.fields USING btree (farm_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: baca_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_weather_field_id; Type: INDEX; Schema: public; Owner: baca_user
--

CREATE INDEX ix_weather_field_id ON public.weather USING btree (field_id);


--
-- Name: ix_weather_forecast_date; Type: INDEX; Schema: public; Owner: baca_user
--

CREATE INDEX ix_weather_forecast_date ON public.weather USING btree (forecast_date);


--
-- Name: crops crops_field_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.crops
    ADD CONSTRAINT crops_field_id_fkey FOREIGN KEY (field_id) REFERENCES public.fields(id);


--
-- Name: farms farms_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.farms
    ADD CONSTRAINT farms_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: fields fields_farm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.fields
    ADD CONSTRAINT fields_farm_id_fkey FOREIGN KEY (farm_id) REFERENCES public.farms(id);


--
-- Name: soil_analyses soil_analyses_field_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.soil_analyses
    ADD CONSTRAINT soil_analyses_field_id_fkey FOREIGN KEY (field_id) REFERENCES public.fields(id);


--
-- Name: weather weather_field_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: baca_user
--

ALTER TABLE ONLY public.weather
    ADD CONSTRAINT weather_field_id_fkey FOREIGN KEY (field_id) REFERENCES public.fields(id);


--
-- PostgreSQL database dump complete
--

\unrestrict eaR8FQwkrj49wL5e0ywoABZycYrXok4eCUkWC58OfPr2qipZVz4gI8f5fZ1LBgf

�